<!DOCTYPE html>

<html>

<head>
	<title>Raise of the proletariat blog</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="icon" type="image/jpg" href="https://i.ytimg.com/vi/hhL5G5ZX62A/hqdefault.jpg">
	<style>
		body {
			background-color: red;
			color: white;
			margin: 0 auto;
			font-family: 'Roboto', sans-serif;
		}

		h1 {
			text-align: center;
			text-shadow: 2px 2px #700b0b;
		}

		#posts div {
			text-align: center;
			background-color: #ff9b9b;
			padding: 10px;
			margin: 50px;
			border-radius: 10px;
		}

		#posts div p {
			text-align: justify;
		}
	</style>
</head>

<body>
	<h1>POSTS</h1>

	<div id="posts">
		{{#each posts}}
		<div>
			<h2>{{post_title}}</h2>
			<p>{{post_text}}</p>
			<p>{{post_date}}</p>
		</div>
	  {{/each}}
	</div>
</body>
</html>